[user]
	email = pudgypoppins@gmail.com
	signingkey = 33165D8778C70EE2
	name = pine
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
